// Text utilities

.u-align-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-text-capitalize {
  text-transform: uppercase;
}
.u-text-justify {
  text-align: justify;
}
.u-text-bold{
  font-weight: bold;
}
.u-text-center{
  text-align: center;
}

.u-height-100{
  height: calc(100vh - 51px);
}
