.instagram-block {
  &__title {
    padding-top: 3em;
    display: flex;
    align-items: center;
    &__link {
      display: flex;
      margin: 0;
      font-size: 1.5rem;
      text-align: center;
      font-family: "NotoSerifJP-Bold";
      margin-left: 55px;
      margin-bottom: 20px;
      color: $color-dark-dark;
      font-size: bold;
      transition: .3s color ease;
      position: relative;
      &:hover{
        color: $color-dark;
      }
      img {
        width: 33px;
        height: 33px;
        display: block;
        transition: 0.2s linear all;
        position: absolute;
        left: -50px;
        top: 5px;
      }
    }
  }
  .instagram-block__title__link {
    &:hover img {
      animation: wobble-hor-bottom 0.8s both;
      @keyframes wobble-hor-bottom {
        0%,
        100% {
                  transform: translateX(0%);
                  transform-origin: 50% 50%;
        }
        15% {
                  transform: translateX(-15px) rotate(-3deg);
        }
        30% {
                  transform: translateX(7px) rotate(3deg);
        }
        45% {
                  transform: translateX(-7px) rotate(-1.3deg);
        }
        60% {
                  transform: translateX(4.5px) rotate(1deg);
        }
        75% {
                  transform: translateX(-3px) rotate(-3deg);
        }
      }
      
    }
  }

  &__item {
    border-radius: 50%;
    transition: 0.2s cubic-bezier(0, 1.26, 0.48, 1.47) all;
    &:hover {
      transform: scale(1.07);
    }
  }
}
.lightwidget-widget {
  width: 100%;
  border: 0;
  overflow: hidden;
}


.instagram-feed{
  width: 100%;
  min-height: 1400px;
  overflow: hidden;
  @media screen and (max-width: 1200px){
    min-height: 1160px;
  }
  @media screen and (max-width: 992px){
    min-height: 3420px;
  }
  @media screen and (max-width: 768px){
    min-height: 2510px;
  }
  @media screen and (max-width: 576px){
    min-height: 2560px;
  }
  @media screen and (max-width: 550px){
    min-height: 2490px;
  }
  @media screen and (max-width: 535px){
    min-height: 2410px;
  }
  @media screen and (max-width: 520px){
    min-height: 2325px;
  }
  @media screen and (max-width: 480px){
    min-height: 2220px;
  }
  @media screen and (max-width: 460px){
    min-height: 2080px;
  }
  @media screen and (max-width: 440px){
    min-height: 2020px;
  }
  @media screen and (max-width: 420px){
    min-height: 1920px;
  }
  @media screen and (max-width: 415px){    
    min-height: 7455px;
  }
  @media screen and (max-width: 405px){    
    min-height: 7255px;
  }
  @media screen and (max-width: 395px){    
    min-height: 7120px;
  }
  @media screen and (max-width: 387px){    
    min-height: 6975px;
  }
  @media screen and (max-width: 380px){    
    min-height: 6855px;
  }
  @media screen and (max-width: 375px){    
    min-height: 6755px;
  }
  @media screen and (max-width: 368px){    
    min-height: 6615px;
  }
  @media screen and (max-width: 365px){    
    min-height: 6555px;
  }
  @media screen and (max-width: 361px){    
    min-height: 6475px;
  }
  @media screen and (max-width: 357px){    
    min-height: 6395px;
  }
  @media screen and (max-width: 353px){    
    min-height: 6315px;
  }
  @media screen and (max-width: 348px){    
    min-height: 6215px;
  }
  @media screen and (max-width: 348px){    
    min-height: 6215px;
  }
  @media screen and (max-width: 336px){    
    min-height: 6000px;
  }
}