$color-primary:#f32929;
$color-primary-dark:#d81d1d;
$color-primary-light:#fa6f6f;
$color-primary-contrast:#fff6f6;

$color-secondary: #ffc404;
$color-secondary-dark: #ac8400;
$color-secondary-light: #ffe388;
$color-secondary-contrast: #fffdf7;
$color-secondary-text: #5a4d04;




$color-contrast: #ffffff;

$color-dark: #6d6d6d;
$color-dark-dark: #0f0f0f;
$color-dark-light: #747474;
$color-dark-contrast: rgb(235, 235, 235);

